.blog-posts {
    padding: 2rem 0;

     .wrap {
          max-width: 1024px;
          margin: 0 auto;
          padding: $rootpx*2;
     }
}

.blog-section-header {
     display: flex;
     justify-content: space-between;
}

.article__container {
     display: grid;
     grid-gap: $rootpx*3;

     @media screen and (min-width: 768px) {
          grid-template-columns: repeat(3, 1fr);
     }
}

.article {
    background: #333;
    background-size: cover !important;

    a {
        display: flex;
        height: 100%;
        width: 100%;
        border: none;
    }

    .inner {
        color: #fff;
        background: rgba(#333, .3);
        height: 100%;
        width: 100%;
        display: flex;
        transition: background 0.3s ease-in-out;

        &:hover {
            background: rgba(#555, .7);
        }
    }


}

.article__title h3 {
    color: #fff;
}
.article__info {
    padding: $rootpx*6;
    max-height: 100%;
    h3 {
        margin: 0;
    }
}

.article__details {
    color: #fff;
    font-weight: normal;
}

.article__image {
     min-height: 200px;
     background-size: cover !important;
}

.blog-posts__more {
    text-align: center;

    @include breakpoint(medium) {
        text-align: right;
    }
}
