body {
    background: $body-background;
    font-size: $rootpx * 2;
}

a {
    color: $primary;
    border-bottom: 1px dotted;
    font-weight: 700;
    text-decoration: none;
    word-wrap: break-word;

    &:hover {
        color: lighten($primary, 33);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.cta {
    border: 2px solid transparent;
    display: inline-block;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 4px 4px 0 rgba($black, 0.3);
    }
}

.cta--primary {
    background-color: $calltoaction-background;
    border: 2px solid $calltoaction-background;
    color: $white;

    &:hover,
    &:active,
    &:focus {
        background: $calltoaction-background-hover;
        border-color: $calltoaction-background-hover;
        color: $white;
    }
}

.cta--secondary {
    border-color: $calltoaction-background;
    color: $calltoaction-background;

    &:hover,
    &:active,
    &:focus {
        background: $calltoaction-background-hover;
        border-color: $calltoaction-background-hover;
        color: $white;
    }
}

.cta--action {
    border-bottom-color: $calltoaction-background;
    color: $calltoaction-background;

    &:hover,
    &:active,
    &:focus {
        border-bottom-color: $calltoaction-background-hover;
        box-shadow: none;
        color: $calltoaction-background;

        &:after {
            padding-left: 12px;
        }
    }

    &:after {
        content: "";
        font-family: FontAwesome;
        padding-left: 8px;
        transition: 0.1s padding-left linear;
    }
}
