/* Default Colors */
$black: #000;
$white: #fff;
$blue: #0964dd;
$purple: #339;
$green: #107952;
$red: #d3131b;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;

/* Color Scheme */
$primary: #333;
$header-background: $light-gray;
$calltoaction-background: darken($primary, 15%);
$calltoaction-background-hover: lighten($primary, 15%);

/* Breakpoints */
$small: 0;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

@mixin breakpoint($point) {
    @if $point == xxlarge {
        @media screen and (min-width: $xxlarge) { @content ; }
    }
    @else if $point == xlarge {
        @media screen and (min-width: $xlarge) { @content ; }
    }
    @else if $point == xlarge-down {
        @media screen and (max-width: ($xxlarge - 1px)) { @content ; }
    }
    @else if $point == xlarge-only {
        @media screen and (min-width: $xlarge) and (max-width: ($xxlarge - 1px)) { @content ; }
    }
    @else if $point == large {
        @media screen and (min-width: $large) { @content ; }
    }
    @else if $point == large-down {
        @media screen and (max-width: ($xlarge - 1px)) { @content ; }
    }
    @else if $point == large-only {
        @media screen and (min-width: $large) and (max-width: ($xlarge - 1px)) { @content ; }
    }
    @else if $point == medium {
        @media screen and (min-width: $medium) { @content ; }
    }
    @else if $point == medium-down {
        @media screen and (max-width: ($large - 1px)) { @content ; }
    }
    @else if $point == medium-only {
        @media screen and (min-width: $medium) and (max-width: ($large - 1px)) { @content ; }
    }
    @else if $point == small-only or $point == small-down {
        @media screen and (max-width: ($medium - 1px)) { @content ; }
    }
    @else {
        @media screen and (min-width: $point) { @content ; }
    }
}

$rootpx: 8px;
